body {
	background-color: #F6F4F0;
	font-family: sans-serif;
}

h2 {
	color: green;
	text-align: center;
}

table{
    border: 1px solid green;
    border-collapse: collapse;
}


thead tr {
	background-color: green;
	color: white;
}

th {
	font-weight: normal;
	text-align: left;
	padding: 4px ;
	border: 1px solid green;
}

td {
	border: thin solid green;
    padding: 4px;
}
.odd {
	background-color: white;
}

.even {
	background-color: #dfd;
}

.mas {
	color: green;
    text-align: center;
}


